pandas
matplotlib
numpy
omdb
chromadb
langchain
langchain_core
langchain-google-genai
llama-index-embeddings-gemini
llama-index
llama-index-vector-stores-chroma
llama-index-llms-langchain
llama-index-llms-gemini
tqdm
together
langchain-together
llama-index-llms-together